html {
  font-size: 16px;
  line-height: 24px;
}
body {
  font-size: 16px;
  line-height: 24px;
  font-size: 1rem;
  line-height: 1.5rem;
}
h1 {
  font-size: 54px;
  line-height: 72px;
  margin-top: 24px;
  margin-bottom: 48px;
  font-size: 3.375rem;
  line-height: 4.5rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
h2 {
  font-size: 36px;
  line-height: 48px;
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 2.25rem;
  line-height: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
h3 {
  font-size: 24px;
  line-height: 24px;
  margin-top: 24px;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
}
h4 {
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
}
p,
ul,
ol {
  font-size: 16px;
  line-height: 48px;
  margin-bottom: 24px;
  font-size: 1rem;
  line-height: 3rem;
  margin-bottom: 1.5rem;
}
